.d3Graph {}

.graphPopup {
    border-radius: $border-radius;
    background-color: $modal-content-bg;
    border: 2px solid var(--bs-green);
    max-width: 30%;
    margin: $smallGap !important;
    padding: $smallGap !important;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 115%;
}

.popupNodeLinks {
    margin-top: $smallGap
}

