.classpath
.project
.settings/
.vscode/
target/

src/main/resources/public/node_modules
src/main/resources/public/node_modules/
src/main/resources/public/.yarn/
src/main/resources/public/public/node/
src/main/resources/public/.vscode/
src/main/resources/public/bundle.js
src/main/resources/public/fonts/fa

src/main/resources/server/node_modules
src/main/resources/server/build

src/main/resources/public/dist
src/main/resources/public/node
src/main/resources/public/src/quanta.css
src/main/resources/public/src/quanta.css.map

QuantaAI/__pycache__/
QuantaAgent/__pycache__/
QuantaGradio/__pycache__/
