.classpath
.project
.settings/
.vscode/
target/
node_modules/
src/main/resources/public/node_modules
src/main/resources/public/dist
src/main/resources/templates


src/main/resources/templates/error.html
src/main/resources/templates/error.html
