.classpath
.project
.settings/
.vscode/
target/
node_modules/
src/main/resources/public/index.html
src/main/resources/public/css/quanta.css
src/main/resources/public/bundle.js.map
src/main/resources/public/bundle.js.LICENSE.txt
