.breadcrumbPanel {
    border-bottom: 2px solid $nodeBorderBottomColor;
    padding-bottom: 4px;
}

.breadcrumbItem {
    cursor: pointer;
    border: 3px solid gray;
    padding: 0px 4px 0px 4px;
    margin-right: 6px;
    margin-bottom: 4px;
    white-space: nowrap;
    display: inline-block;
    border-radius: $border-radius;
}

.breadcrumbItem:hover {
    border: 3px solid green;
    border-radius: $border-radius;
}
