.breadcrumbPanel {
    padding-top: 2px;
    padding-bottom: 4px;
}

.breadcrumbItem {
    cursor: pointer;
    border: 3px solid gray;
    padding: 3px;
    margin-right: 8px;
    margin-bottom: 4px;
    white-space: nowrap;
    display: inline-block;
    border-radius: $border-radius;
}

.breadcrumbItem:hover {
    border: 3px solid green;
    border-radius: $border-radius;
}
