.breadcrumbPanel {
    padding-bottom: $tinyGap;
}

.breadcrumbItem {
    cursor: pointer;
    border: 2px solid gray;
    border-radius: 7px;
    padding: 5px;
    margin-right: 8px;
    margin-bottom: 4px;
    white-space: nowrap;
    display: inline-block;
}

.breadcrumbItem:hover {
    border: 2px solid green;
}
