/* Warning: setting any kind of left margin won't work becasue the btn-group? style of bootstrap overrides it in button groups */

.menuButton {
    margin-right: $smallGap;
}

.mobileButton {
    padding: 10px 16px 10px 16px;
}

.mobileIconButton {
    padding: 10px 16px 10px 16px;
}

.myNavTab {
    white-space: nowrap;
    min-width: 10em;
}

.feedDirtyIcon {
    color: yellow;
}

.btn {
    border-radius: 0 !important;
    border: 1px solid slategrey;
    cursor: pointer !important;
}

.btn[disabled] {
    font-style: italic;
}

.errorBackButton {
    margin-top: 1.5em;
    font-weight: 700;
}

.appEnterButton {
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.button-font {
    font-family: $fontFamily !important;
    // font-size: $fontSize;
    white-space: nowrap;
}

.icon-button-font {
    font-family: $fontFamily !important;
    // font-size: $fontSize;
    white-space: nowrap;
    padding-left: 6px;
}

.attentionButton {
    background-color: green;
}

.pasteButton {
    border: 2px dotted green !important;
    margin-right: $tinyGap;
}

.feedDirtyButton {
    color: yellow;
}

.bash-exec-button {
    margin: 1em;
}

.scrollTopButtonUpperRight {
    position: fixed;
    top: 3px;
    right: 23px;
}

.scrollTopButtonLowerRight {
    position: fixed;
    bottom: 3px;
    right: 23px;
}

.buttonBarIcon {
    margin-left: 8px;
    margin-right: 8px;
    vertical-align: middle;
    cursor: pointer;
}

.iconLabel {
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
}

.jumpButton {
    margin-right: 12px;
    vertical-align: middle;
    cursor: pointer;
}