/* Warning: setting any kind of left margin won't work becasue the btn-group? style of bootstrap overrides it in button groups */

.btn {
    border-radius: 0 !important;
    border: 1px solid slategrey;
}

.btn[disabled] {
    font-style: italic;
    cursor: auto;
}

.btn:hover {
    border: 1px solid white;
    cursor: auto;
}

.errorBackButton {
    margin-top: 1.5em;
    font-weight: 700;
}

.appEnterButton {
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.button-font {
    font-family: $fontFamily !important;
    white-space: nowrap;
}

.pasteButton {
    border: 4px dotted green !important;
}

.feedDirtyButton {
    border: 4px solid green;
    display: inline-block;
}

//This class exists only so the space for the border is always taken up
.feedNotDirtyButton {
    border: 4px solid transparent;
    display: inline-block;
}

.bash-exec-button {
    margin: 1em;
}

.scrollTopButton {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.buttonBarIcon {
    margin-left: 16px;
    vertical-align: middle;
    cursor: pointer;
}
