/* Warning: setting any kind of left margin won't work becasue the btn-group? style of bootstrap overrides it in button groups */

.myNavTab {
    white-space: nowrap;
}

.feedDirtyIcon {
    color: yellow;
}

.btn {
    border-radius: 0 !important;
    border: 1px solid slategrey;
}

.btn[disabled] {
    font-style: italic;
    cursor: auto;
}

.btn:hover {
    border: 1px solid white;
    cursor: auto;
}

.errorBackButton {
    margin-top: 1.5em;
    font-weight: 700;
}

.appEnterButton {
    font-weight: 700;
    color: white;
    cursor: pointer;
    font-size: 120%;
}

.button-font {
    font-family: $fontFamily !important;
    // font-size: $fontSize;
    white-space: nowrap;
}

.icon-button-font {
    font-family: $fontFamily !important;
    // font-size: $fontSize;
    white-space: nowrap;
    padding-left: 6px;
}

.pasteButton {
    border: 4px dotted green !important;
}

.feedDirtyButton {
    color: yellow;
}

.bash-exec-button {
    margin: 1em;
}

.scrollTopButtonUpperRight {
    position: fixed;
    top: 3px;
    right: 23px;
}

.scrollTopButtonLowerRight {
    position: fixed;
    bottom: 3px;
    right: 23px;
}

.buttonBarIcon {
    margin-left: 8px;
    margin-right: 8px;
    vertical-align: middle;
    cursor: pointer;
}

.iconLabel {
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
}

.jumpButton {
    margin-right: 12px;
    vertical-align: middle;
    cursor: pointer;
}