/* Warning: setting any kind of left margin won't work becasue the btn-group? style of bootstrap overrides it in button groups */

.menuButton {
    margin-right: $smallGap;
    padding: 12px 16px 12px 16px;
}

.mobileButton {
    padding: 12px 16px 12px 16px;
}

.mobileIconButton {
    padding: 12px 16px 12px 16px;
}

.mobileIcon {
    padding: 12px 10px 12px 10px;
}

.appNavTab {
    white-space: nowrap;
    min-width: 10rem;
    padding: .3rem .3rem .3rem .6rem !important;
}

.feedDirtyIcon {
    color: yellow;
}

.btn {
    border-radius: 0 !important;
    border: 1px solid slategrey;
    cursor: pointer !important;
}

.btn[disabled] {
    font-style: italic;
}

.btn:hover {
    border: 1px solid slategrey;
}

.errorBackButton {
    margin-top: 1.5rem;
    font-weight: 700;
}

.appEnterButton {
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.button-font {
    font-family: $fontFamily !important;
    // font-size: $fontSize;
    white-space: nowrap;
}

.icon-button-font {
    font-family: $fontFamily !important;
    // font-size: $fontSize;
    white-space: nowrap;
    padding-left: 6px;
}

.attentionButton {
    background-color: green;
}

.pasteButton {
    border: 2px dotted green !important;
    margin-right: $tinyGap;
}

.feedDirtyButton {
    color: yellow;
}

.bash-exec-button {
    margin: 1rem;
}

.scrollTopButtonUpperRight {
    position: fixed;
    top: 3px;
    right: 23px;
}

.scrollTopButtonLowerRight {
    position: fixed;
    bottom: 3px;
    right: 23px;
}

.buttonBarIcon {
    margin-left: 8px;
    margin-right: 8px;
    vertical-align: middle;
    cursor: pointer;
}

.iconLabel {
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
}

.jumpButton {
    margin-right: 12px;
    vertical-align: middle;
    cursor: pointer;
}

.buttonIconWithText {
    margin-right: 6px;
}

.buttonIconNoText {
    margin-right: 0px;
}

// we tack this onto bootstrap btn-group, becasue without it, buttons stretch wider than normal when 
// wrapped to a new line (position) that where the row isn't full and has space to stretch. 
.btnGroup {
    display: inline;
}
