.form-check {
    align-items: center;
}

.form-check label {
    margin-left: 10px;
    margin-top: 5px;
}

.form-check .form-check-input[type=checkbox] {
    border-radius: .15em;
    height: 30px;
    width: 30px;
}

.form-check .form-check-input[type=radio] {
    border-radius: 100%;
    height: 30px;
    width: 30px;
}

.form-switch .form-check-input[type=checkbox] {
    border-radius: .5em;
    height: 30px;
    width: 60px;
}
