.form-check {
    align-items: center;
}

.form-check-inline-nomargin {
    display: inline-block;
    margin-right: 0px !important; //<--- this overrides the default form-check-inline margin
}

.form-check label {
    margin-left: 10px;
    margin-top: 5px;
}

.form-check .form-check-input[type="checkbox"] {
    border-radius: .15rem;
    height: 30px;
    width: 30px;
    border: 1px solid gray;
}

.form-check .form-check-input[type="radio"] {
    border-radius: 100%;
    height: 30px;
    width: 30px;
    border: 1px solid gray;
}

.form-switch .form-check-input[type="checkbox"] {
    border-radius: .5rem;
    height: 30px;
    width: 55px;
    border: 1px solid gray;
}

.checkboxLabel {
    margin-right: 16px;
    // margin-bottom: $smallGap;
}

.radioLabel {
    margin-right: 16px;
    margin-bottom: $smallGap;
}

.radioButtonsBar {
    margin-bottom: $smallGap;
}
