.simpleUploadPanel {
    flex-grow: 1; // makes panel fill space horizontally
    overflow: hidden;
    border: 2px solid transparent;
    margin-left: 12px;
    padding: 6px;
    color: transparent;
}

.simpleUploadPanel:hover {
    border: 2px dotted gray;
    color: white;
}

.dropzone-in-panel {
    width: 100%;
    height: 100%;
}

.dropzone {
    background-color: $modal-content-bg;
    border: 3px dashed gray;
    height: 420px;
    padding: 10px;
    margin-bottom: $smallGap;
    border-radius: $border-radius;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
}

.dz-message {
    display: none;
}

// for some reason the success and error marks are STAYING visible (my bug?) so we just hide them.
.dz-success-mark {
    display: none;
}

.dz-error-mark {
    display: none;
}

.dropzone .dz-preview {
    width: 25%;
}