/* Dropzone message */

.dz-message {
    font-size: large;

    // todo-2: this background is dropzone-controled and it seems to have issues, so I'm just removing it for now.
    // background-image: url("/js/dropzone/upload.png");
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-position: center;
    // height: 100%;
}

.dropzone {
    background-color: $modal-content-bg;
    border: 4px dashed lightGray;
    margin-bottom: 16px;
    height: 420px;
    padding: 0;
    overflow-y: auto;
    /* min-height: 0px !important; */
}

/* This tweak keeps the dropzone error message from covering up the 'remove file' link under the preview image
which it will do by default. */
.dropzone .dz-preview .dz-error-message {
    top: 150px!important;
}
