.feedClearButton {
    display: inline-block;
}

.feedSearchField {
    width: 95%;
    margin-top: 0px !important;
}

.feedView {
    margin-bottom: $smallGap;
}

.feedFilterRadioButtons {
    display: inline-block;
    margin-bottom: $smallGap;
    margin-right: $smallGap;
}

.feed-node-table-row {
    position: relative;
}

.inactive-feed-row {
    border-left: 2px solid $nodeBorderBottomColor;
    // margin-left: 25px;
}

.inactive-feed-row-parent {
    border-bottom: 2px solid $nodeBorderBottomColor;
}


