.listBoxRow {
    cursor: pointer;
    //we need zero margin and padding here so that the border area around the list item
    //when clicked on by the user (in a selectable list), looks good. That is the border should
    //maximally surround the list row and any padding margins contained in that list row. 
    margin: 0px;
    padding: 0px;
}

.selectedListItem {
    cursor: pointer;
    background-color: $secondary;
    width: 100%;
    border: 3px solid green;
    padding: 8px;
}

.unselectedListItem {
    cursor: pointer;
    width: 100%;
    border: 3px solid transparent;
    padding: 8px;
}

.selectedListItem:hover {
    @extend .selectedListItem;
    background-color: $menuItemHoverBackgroundColor;
}

.unselectedListItem:hover {
    @extend .unselectedListItem;
    background-color: $menuItemHoverBackgroundColor;
}
