/************************************************************** 
Media Queries below are per Bootstap 4 standard */

/* Small devices (tiny, 320px and up) */

/* Small devices (portrait phones?, 576px and up) */
@media (min-width: 576px) {
    .menuContainer {
        min-width: 8em;
        width: 8em;
        //border: 1px solid red;
    }

    .modal-lg {
        width: 500px;
        height: 800px;
    }

    .container{
        max-width: 500px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .menuContainer {
        min-width: 10em;
        width: 10em;
        //border: 1px solid yellow;
    }  

    .modal-lg {
        width: 700px;
        height: 700px;
    }

    .container{
        max-width: 700px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .menuContainer {
        min-width: 12em;
        width: 12em;
        //border: 1px solid green;
    }  

    .modal-lg {
        width: 900px;
        height: 900px;
    }

    .container{
        max-width: 800px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .menuContainer {
        min-width: 16em;
        width: 16em;
        //border: 1px solid blue;
    }  

    .modal-lg {
        width: 1198px;
        height: 1198px;
    }

    .container{
        max-width: 1000px;
    }
}

//this size is non-standard and larger than anything bootstrap considers.
@media (min-width: 1500px) {
    .menuContainer {
        min-width: 18em;
        width: 18em;
        //border: 1px solid blue;
    }  

    .modal-lg {
        width: 1498px;
        height: 1498px;
    }

    .container{
        max-width: 1400px;
    }
}
