/************************************************************** 
Media Queries below are per Bootstap 4 standard */

/* Small devices (tiny, 320px and up) */
@media (min-width: 320px) {

    .modal-lg {
        width: 300px;
        height: 400px;
    }

    .container {
        max-width: 285px;
    }
}

/* Small devices (portrait phones?, 576px and up) */
@media (min-width: 576px) {

    .modal-lg {
        width: 500px;
        height: 800px;
    }

    .container {
        max-width: 500px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .modal-lg {
        width: 700px;
        height: 700px;
    }

    .container {
        max-width: 700px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .modal-lg {
        width: 900px;
        height: 900px;
    }

    .container {
        max-width: 800px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {

    .modal-lg {
        width: 1198px;
        height: 1198px;
    }

    .container {
        max-width: 1000px;
    }
}

//this size is non-standard and larger than anything bootstrap considers.
@media (min-width: 1500px) {

    .modal-lg {
        width: 1498px;
        height: 1498px;
    }

    .container {
        max-width: 1400px;
    }
}
