.menuPanel {
    //border: 2px solid $nodeBorderBottomColor; 
    background-color: transparent;
}

.menuContainer {
    margin-top: 10px;
}

.menuItemSeparator {
    border-bottom: 2px solid $nodeBorderBottomColor;
}

.mainMenuItemDisabled {
    cursor: auto;
    font-weight: lighter;
    background-color: transparent;
    //font-style: italic;
    color: $disabled-body-color;
    padding: 5px; 

    @if $highlightActiveMenuItems {
        border-left: 5px solid transparent;     
    }
}

.mainMenuItemDisabled:hover {
    cursor: auto;
    font-weight: lighter;
    background-color: transparent;
    //font-style: italic;
    color: $disabled-body-color;
}

.mainMenuItemEnabled {
    cursor: pointer;
    font-weight: normal;
    background-color: transparent;

    @if $highlightActiveMenuItems {
        border-left: 5px solid $nodeBorderBottomColor; 
    } 
    padding: 6px;
}

.menuCardBody {
    padding: 0px;
    border-left: 6px solid #444;
    border-right: 6px solid #444;
    border-bottom: 6px solid #444;
    padding: 6px;
    border-radius: 0 0 $border-radius $border-radius;
}

.menuCard {
    border: none;
    background-color: transparent;
    margin: 4px;
    border-radius: 0px;
}

.menuHeading {
    cursor: pointer;
    //background-color: $list-group-bg;
    background-color: transparent;
    border: none;
    padding: 10px; 
    border-radius: $border-radius $border-radius 0 0;
}

.menuHeading:hover {
    background-color: $menuItemHoverBackgroundColor;
    border-radius: $border-radius !important;
}

.menuHeading[aria-expanded=true] {
    background-color: $secondary;
    border-radius: $border-radius $border-radius 0 0 !important;
}

.mainMenuItemEnabled:hover {
    cursor: pointer;
    background-color: $menuItemHoverBackgroundColor;
}
