.menuPanel {
    min-width: 10em;
    margin-top: 10px;
    width: 100%;
}

.menuPanelMobile {
    min-width: 10rem;
    margin-top: 10px;
    width: 100%;
    font-size: 140%;
}

.menuPanelItems {
    border-left: $highlightBorderSize solid $primary;
    border-radius: 0px !important;
}

.menuIcon {
    vertical-align: middle;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 5px;
    color: lightSlateGray;
}

.menuItemSeparator {
    border-bottom: 1px solid $nodeBorderBottomColor;
}

.mainMenuItemDisabled {
    cursor: auto;
    font-weight: lighter;
    background-color: transparent;
    color: $disabled-body-color;
    padding: 5px; 

    @if $highlightActiveMenuItems {
        border-left: 5px solid transparent;     
    }
    border-radius: 0px;
}

.mainMenuItemDisabled:hover {
    cursor: auto;
    font-weight: lighter;
    background-color: transparent;
    color: $disabled-body-color;
}

.mainMenuItemEnabled {
    cursor: pointer;
    font-weight: normal;
    background-color: transparent;

    @if $highlightActiveMenuItems {
        border-left: 5px solid $nodeBorderBottomColor; 
    } 
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 0px;
}

.mainMenuItemEnabled:hover {
    cursor: pointer;
    background-color: $menuItemHoverBackgroundColor;
    border: 1px solid gray;
}

.menuCardBody {
    padding: 0px 0px 0px 20px;
}

.menuCard {
    border: none;
    background-color: transparent;
    margin: 4px;
}

.menuHeading {
    cursor: pointer;
    background-color: transparent;
    padding: 5px 5px 5px 15px; 
    border: 2px solid transparent;
}

.menuHeading:hover {
    background-color: $primary; // $menuItemHoverBackgroundColor;
    border: 2px solid gray;
}

.menuHeadingExpanded {
    @extend .menuHeading;
    background-color: $secondary;
    border: 2px solid gray;
}

.mobileMenuText {
    padding: 12px 12px 12px 15px !important;
}
