
@import "variables.scss";

$border-radius: .3rem;

@import "../node_modules/bootstrap/scss/bootstrap";

@import "bootswatch.scss";

$menuItemHoverBackgroundColor: $primary;
$nodeBorderBottomColor: $gray-600;

$createdByMeBackgroundColor: green;
$createdByMeTextColor: white;

$listBackgroundColor: lightGray;

html {
    // not supported by all browers.
    // scroll-behavior: smooth;

    font-family: "Roboto", "Verdana", "Aria";
}

body {
    /* This top-padding is how the bootstrap example keept the main content from being covered by the navbar */
    font-family: "Roboto", "Verdana", "Aria";
    padding-top: 5rem;
    padding-bottom: 1rem;
}

.textfield-label {
    margin-bottom: 0px;
}

.checkbox-label {
    margin-bottom: 0px;
}

.button-font {
    font-family: "Roboto", "Verdana", "Aria";
}

.edit-props-table {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid $gray-600;
    border-radius: .6em;
}

.fixedFont {
    font-family: 'Courier New', Courier, monospace;
}

.file-link {
    margin-top: 15px;
    margin-left: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.folder-link {
    margin-top: 15px;
    margin-left: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.overlay {
    z-index: 2147483647;
    background-color: rgba(1, 1, 1, 0.1);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    cursor: progress;
    display: none;
}

/* The Modal (background) */

.app-modal-title {
    margin-bottom: 15px;
    font-size: 150%;
}

.app-modal-title-close-icon {
    cursor: pointer;
    font-size: 125%;

    //this icon vertical centering doesn't work, but it's acceptable looking.
    vertical-align: middle;
}
 
.app-modal {
    display: none;
    position: fixed;
    z-index: 16000000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}


/* Modal Content/ Dialog Box. This is the outter frame of the dialog itself */

.app-modal-content {
    background-color: $modal-content-bg;
    border: 2px solid $modal-content-border-color;
    margin: 15px auto;
    padding: 15px;
    width: 75%;
    border-radius: .7em;
    max-width: 800px;
}

.app-modal-content-narrow-width {
    @extend .app-modal-content;
    max-width: 500px;
}

.app-modal-content-medium-width {
    @extend .app-modal-content;
    max-width: 650px;
}

.app-modal-content-fullscreen {
    background-color: $modal-content-bg;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    overflow: auto;
}

//We hav this 80% width version so that the main menu can use it because to close that without selecting an option
//the user needs space to click in outside the menu which closes the menu.
.app-modal-content-almost-fullscreen {
    border: 2px solid $modal-content-border-color;
    background-color: $modal-content-bg;
    padding: 15px;
    width: 80%;
    height: 100%;
}

/* Modal Content/ Dialog Box */

.app-modal-menu {
    border: 2px solid $modal-content-border-color;
    left: 0;
    top: 0;
    padding: 0px;
    width: 20%;
    margin-top: 60px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    max-width: 400px;
    min-width: 350px;
}

.my-tab-pane {
    width: 100%;
    padding-top: 10px;
}

.tab-content {
    margin-left: 0px;
    margin-right: 0px;
}

.ipfs-text {
    margin: 10px;
    padding: 5px;
}

.nav-tabs {
    border: none;
}

/* NOTE: border sizes (thickness itself) of all nav-tabs should be same everywhere */
// .tab-buttons-container {
//     //background-color: $tabButtonBackground;
//     margin-bottom: 0px;
//     margin-left: 0px;
//     margin-right: 0px;
//     padding: 0px;
// }

// .nav-tabs>.nav-item>.nav-link {
//     //border: none;
//     //color: black;
// }

// .nav-tabs>.nav-item>.nav-link:hover {
//     //border-bottom: 4px solid lightslategray;
// }

// .nav-tabs>.nav-item>.nav-link.active,
// .nav-tabs>.nav-item>.nav-link.active:hover,
// .nav-tabs>.nav-item>.nav-link.active:focus {
//     //background-color: $mainContentBackground;
//     //color: black;
// }

.small-margin-right {
    margin-right: 8px;
}

input[type="checkbox"] {
    height: 25px;
    width: 25px;
    margin: 8px;
}

input[type="radio"] {
    height: 25px;
    width: 25px;
    margin: 8px;
}

.edit-prop-checkbox-col {
    width: 50px;
    display: table-cell;
    margin-left: 16px;
}

.edit-prop-textfield-col {
    display: table-cell;
}

.row-toolbar {
    margin-left: 16px;
}

/* I experimented with limiting height of rows and allowing individual scrolling on nodes but
   i think usability and asthetics make this slightly awkward. You can simply uncomment these styles
   and look, any time, to remember what that looks like. The style is in place in the code
   */

.tallTextContent {
    max-height: 650px;
}   

.centeredTitle {
    width: 500px;
    /* This margin trick causes horizontal centering */
    margin: 0 auto;
}

.mainMenuItemDisabled {
    cursor: pointer;
    //font-weight: normal;
}

.mainMenuItemDisabled:hover {
    cursor: pointer;
}

.mainMenuItemEnabled {
    cursor: pointer;
    //font-weight: bold;
}

.menuCard {
    border: none;
    border-radius: 0;
}

.menuHeading {
    cursor: pointer;
    background-color: $list-group-bg;
    border: none;
    border-radius: 0;
}

.menuHeading:hover {
    background-color: $menuItemHoverBackgroundColor;
    border-radius: 0;
}

.menuHeading[aria-expanded=true] {
    background-color: $secondary;
    border-radius: 0;
}

.mainMenuItemEnabled:hover {
    cursor: pointer;
    background-color: $menuItemHoverBackgroundColor;
}

.listBoxRow {
    cursor: pointer;
}

.listBoxRow:hover {
    cursor: pointer;
    background-color: $menuItemHoverBackgroundColor;
}

.selectedListItem {
    background-color: $secondary;
}

//warning: this is altering a bootstrap style.
.btn-group {
    margin-left: 0px;
}

.small-padding {
    margin-top: 7px;
    padding: 4px;
}

.horizontalLayout {
    margin-top: 5px;
    margin-left: 5px;
}

/* Warning: setting any kind of left margin won't work becasue the btn-group? style of bootstrap overrides it in button groups */

.basicButton {
    //margin-right: 7px;
}

.pre-textarea {
    font-family: monospace;
    font-size: 125%;
}

.my-ace-editor {
    border: 1px solid $gray-500;
}

.textfield {
    margin-bottom: 10px;
}

.pre-textfield {
    font-family: monospace;
    font-size: 125%;
}

.bash-exec-button {
    margin: 1em;
}

.bash-script {
    margin-left: 1em;
    margin-top: 1em;
}

.code,
kbd,
pre,
samp {
    /*
    background-color: black;
    color: green;
    font-weight: bold;
    
    display: block;
    font-family: monospace;
    white-space: pre;
    */
    font-size: 110%;
    /* overflow: auto; 
    max-height: 15em;
    border: 1px dotted gray;
    */
}

.meta64-input {
    max-width: 50%;
}

/* Dropzone message */

.dz-message {
    font-size: large;
    background-image: url("/js/dropzone/upload.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 500px;
    height: 200px;
}

.dropzone {
    border: 4px dashed lightGray;
    margin: 16px;
    width: 600px;
    height: 300px;
    padding: 0;
    overflow-y: auto;
    /* min-height: 0px !important; */
}

.systemFileRow {
    margin-botom: 16px;
}

.systemFileActionLink {
    cursor: pointer;
    margin-right: 16px;
    border-bottom: 1px dotted gray;
}

.systemFile {
    font-family: Courier New, Courier, Roboto, Tahoma, Verdana, Arial;
    cursor: pointer;
    /* background: lightGray; */
    padding-bottom: 5px;
}

.ace-edit-panel {
    margin-top: 16px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
}

.vert-space {
    display: block;
    height: 0.5em;
}

.mainTabPanel {
    //border: 1px solid black;
    //background-color: $mainContentBackground;
    //setting a max-width here ruins the centering horizontally on the page, my goal was
    //to narrow the main tab content in center of page
    //WARNING: I think the bootstrap 'main' entity is what is setting the width here and it didn't work to chagne it here.
    // max-width: 750px;
    
    //I'd prefer to have NO margin, but the top margin is getting forced so I'll add a bottom margin for consistency for now
    margin-bottom: 15px;
    //margin-top: 0px;
    width: 100%;
}

.searchResultsPanel {
    padding: 15px;
    margin: 15px;
}

.timelinePanel {
    padding: 15px;
    margin: 15px;
}

.mainNodeContentStyle {
    outline: none;
    border-bottom: 10px solid $nodeBorderBottomColor;
    padding-right: 1em;
}

.vertical-layout-row {
    margin-bottom: 16px;
}

.dialog-header {
    font-weight: bold;
    font-size: large;
    margin-top: 16px;
    margin-bottom: 16px;
}

.created-by-me {
    background: $createdByMeBackgroundColor;
    color: $createdByMeTextColor;
    padding: 4px;
}

.created-by-other {
    padding: 4px;
}

.header-text {
    font-size: small;
    margin-left: 16px;
    padding-top: 10px;
}

.content-narrow {
    max-width: 650px;
}

.content-medium {
    max-width: 800px;
}

.content-wide {
    max-width: 950px;
}

.markdown-content {
    margin: 1em;
}

.tags-content {
    margin-left: 1em;
    /* we limit page width of text content, because text that goes to wide
		becomes difficult to read.
	*/
    border: 1px dotted lightGray;
    max-width: 800px;
    background: #f9e79f;
}

.property-table {
    margin-left: 1em;
}

.prop-table-row {
    width: 100%;
}

.prop-table-name-col {
    width: 25%;
}

.prop-table-val-col {
    width: 70%;
}

.prop-table {
    width: 100%;
}

.node-table-row {
    position: relative;
    border-bottom: 2px dotted lightslategray;
    padding-right: 1em;
    outline: none;
}

.node-grid {
    //background-color:$mainContentBackground; 
}

.node-grid-item {
    padding-right: 1.5em;
    outline: none;
    margin-left: 0px;
    padding-left: 0px;
}

.node-grid-cell {
    border-bottom: 2px solid lightGray;
    border-right: 2px solid lightGray;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.node-table-row .top-right-image {
    position: absolute;
    top: 0;
    right: 0;
}

.active-row {
    border-left: 10px solid $primary;
}

.inactive-row {
    border-left: 10px solid transparent;
}

.main {
    background-color: #eee;
}

/* Media Queries below are per Bootstap 4 standard */

/* Small devices (tiny, 320px and up) */

/* Small devices (portrait phones?, 576px and up) */
@media (min-width: 576px) {
    .modal-lg {
        width: 500px;
        height: 800px;
    }

    .container{
        max-width: 500px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .modal-lg {
        width: 700px;
        height: 700px;
    }

    .container{
        max-width: 700px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
        height: 900px;
    }

    .container{
        max-width: 800px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .modal-lg {
        width: 1198px;
        height: 1198px;
    }

    .container{
        max-width: 1000px;
    }
}

// .App {
//     text-align: center;
// }

// .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//     height: 80px;
// }

// .App-header {
//     background-color: #222;
//     height: 150px;
//     padding: 20px;
//     color: white;
// }

// .App-title {
//     font-size: 1.5em;
// }

// .App-intro {
//     font-size: large;
// }

// .feather {
//     width: 16px;
//     height: 16px;
//     vertical-align: text-bottom;
// }

/*
* Sidebar
*/

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    z-index: 100;
}

.sidebar-sticky {
    position: sticky;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 101;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: 0.75rem;
}

/*
* Navbar
*/

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.rss-feed-listing {
    margin-top: 15px;
    margin-left: 20px;
    max-width: 800px;
}


