.navbar-brand {
    margin-left: $smallGap;
}

.nav-tabs {
    border: none;
    font-size: 120%;
    border-radius: 15px;
}

.nav-tabs>.nav-item>.nav-link {
    border: $mediumBorderSize solid transparent; 
    cursor: pointer;
    font-weight: bold;
    border-radius: 15px;
}

.nav-tabs>.nav-item>.nav-link:hover {
    border: $mediumBorderSize solid transparent; 
    cursor: pointer;
    font-weight: bold;
    border-radius: 15px;
}

.nav-tabs>.nav-item>.nav-link.active,
.nav-tabs>.nav-item>.nav-link.active:hover,
.nav-tabs>.nav-item>.nav-link.active:focus {
    border: $mediumBorderSize solid $nodeBorderBottomColor; 
    cursor: pointer;
    font-weight: bold;
    border-radius: 15px;
}
