.userProfileDlgAvatar {
    background-color: $modal-content-bg;
    max-width: 120px;
    min-width: 120px;
    border-radius: $border-radius;
    border: 2px solid $modal-content-bg;
    top: -55px;
    left: 0px;
    position: relative;
    cursor: pointer;
}

.userProfileDlgHeader{
    background-color: $modal-content-bg;
    cursor: pointer;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: $border-radius;
    border: 2px solid $modal-content-bg;
}

.avatarAndNamePanel {
    margin-left: 30px;
    border-collapse: collapse;
}

.bioPanel {
    margin: 20px 30px 20px 30px;
}

.userDisplayName {
    padding-top: $smallGap;
    padding-left: $smallGap;
    width: 40em;
}

.profileImageBase {
    cursor: pointer;
    top: -55px;
    left: 30px;
    position: relative;
    background-color: $modal-content-bg;
    max-width: 120px;
    border-radius: $border-radius;
}

.profileImageBaseNoHeader {
    cursor: pointer;
    background-color: $modal-content-bg;
    max-width: 120px;
    border-radius: $border-radius;
}

.profileImageBaseNoHeaderSmall {
    cursor: pointer;
    background-color: $modal-content-bg;
    max-width: 80px;
    border-radius: $border-radius;
}

.profileImageRHS {
    @extend .profileImageBaseNoHeaderSmall;
    top: -45px;
    left: 30px;
    position: relative;
    border: 2px solid $body-bg; 
}

.profileImageRHSNoOffset {
    @extend .profileImageBaseNoHeaderSmall;
    position: relative;
    border: 2px solid $nodeBorderBottomColor;
    margin-bottom: 20px;
}

.userBio {
    margin: 15px 10px 10px 10px;
}
