$brandingBase: '../../../../../branding';

.tsxTest {
    padding: 15px;
    border: 2px solid red;
    border-radius: 15px;

    background-size: 100% auto;
    background-image: url($brandingBase + '/PIA09561_large.jpg');
}
