.tsxTest {
    padding: 15px;
    border: 2px solid red;
    border-radius: 15px;
}

.w-md-editor-text-pre > code,
.w-md-editor-text-input {
  font-size: 23px !important;
  line-height: 24px !important;
}