div.annotationBox {
    position: fixed;
    background-color: yellow;
    color: black;
    
    min-width: 50px;
    max-width: 600px;
    border-radius: $border-radius;

    /* Note: this is 2000 larger than the starting DialogBase.backdropZIndex, so that it can always be on top of all dialogs 
       but arguably we can to with any super large z-index here to enxure always on top.
    */
    z-index: 16002000;
}

.arrowUp {
    position: fixed;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid yellow;
    z-index: 16002000;
}

.arrowDown {
    position: fixed;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid yellow;
    z-index: 16002000;
}

.arrowRight {
    position: fixed;
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid green;
    z-index: 16002000;
}

.arrowLeft {
    position: fixed;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid blue;
    z-index: 16002000;
}

.annotationText {
    color: black;
    font-weight: bolder;
    margin-top: 5px;
    text-align: center;
    margin: 0;
    padding: 5px;
}
