.fullScreenToolbar {
    z-index: 2147483501;
    position: fixed;
    top: 0;
    right: 0;
    padding: 4px;
    border: 1px solid gray;
    border-radius: 6px;
    background-color: darken($secondary, 10%);
}

.selectPowerFactorDropDown {
    display: inline-block;
    width: 10rem;   
    margin-right: $bigGap;
}

.d3Graph {}

.graphPopup {
    border-radius: $border-radius;
    background-color: $modal-content-bg;
    border: 2px solid var(--bs-green);
    max-width: 30%;
    margin: $smallGap !important;
    padding: $smallGap !important;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 115%;
}

.popupNodeLinks {
    margin-top: $smallGap
}

.fullScreenViewer {
    overflow: auto;
    width: 100%;
    height: 100%;
}

.d3PieChart {
    width: 250px;
    height: 250px;
}
