.openGraphPanel {
    margin-left: 12px;
    border: 1px solid $nodeBorderBottomColor;
    padding: 10px;
    margin-bottom: 1.4rem;
    margin-right: $smallGap;
    border-radius: $border-radius;
    overflow-x: hidden;
    background-color: #17202A;
}

.openGraphPanelRss {
    overflow-x: hidden;
    margin-top: $smallGap;
}

.openGraphImage {
    border: 1px solid $nodeBorderBottomColor;
    border-radius: $border-radius;
    width: 100%;
    margin-top: 8px;
}

.openGraphImageRss {
    border: 1px solid $nodeBorderBottomColor;
    border-radius: $border-radius;
    width: 100%;
}

.openGraphImageVert {
    border: 1px solid $nodeBorderBottomColor;
    border-radius: $border-radius;
    width: 50%;
    margin-top: 8px;
    margin-bottom: 10px;
}

.openGraphNoImage {
    margin-top: 8px;
    margin-right: 8px;
}

.openGraphFlowImage {
    float: left;
    width: 20%;
    min-width: 100px;
    margin: 0 $smallGap 0 0;
}

.openGraphLhs {
    width: 20%;
    // This min width is required when there are some crazy long strings in the RHS, and the browser
    // crowds out the left hand side smashin it down to zero size unless we give a min size.
    min-width: 100px;
}

.openGraphRhs {
    // Leave LHS 20% and RHS 75%, because that adds up to enough less than 100% so that the padding
    // doesn't cause unwanted wrap (in narrow content layouts)
    width: 75%;
    padding-left: $bigGap;
}

.openGraphDesc {
    max-width: 45rem;
    margin-right: $smallGap;
    margin-top: $smallGap;
}

.openGraphTitle {
    font-size: 130%;
    margin-bottom: 8px;
    margin-right: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.ogBookmarkIcon {
    cursor: pointer;
    margin-left: 8px;
}