.rssLinkIcon {
    cursor: pointer;
    margin-right: 12px;
}

.rssPostIcon {
    cursor: pointer;
    margin-right: 12px;
}

.rssBookmarkIcon {
    cursor: pointer;
}

.rssChapterDiv {
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;

    &:not(:last-child) { 
        border-bottom: 2px solid $nodeBorderBottomColor;
    }
}

.rssChapterLink {
    cursor: pointer;
    font-size: 18px;
    margin-left: 12px;
}

.rssChapterTitle {
    cursor: pointer;
    font-size: 18px;
}

.rssChapterImage {
    border: 1px solid $nodeBorderBottomColor;
    max-width: 80px;
    margin: 8px;
    display: inline-block;
    cursor: pointer;
}

.rssChapterPanel {
    border: 2px solid $nodeBorderBottomColor;
    margin-top: 12px;
    padding: 13px;
}

.rssAnchor {
    cursor: pointer;
    font-size: 24px;
    text-decoration: none;
    margin-right: $bigGap;
}

.rssMediaButtons {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.rssDownloadLink {
    margin-left: 15px;
}

.rssFeedTitle {
    font-size: 150%;
    text-decoration: none;
}

.rssSubTitle {
    font-size: 110%;
}

.rssFeedImage {
    border: 1px solid $nodeBorderBottomColor;
    margin-bottom: 12px;
    margin-right: 12px;
    max-width: 50%;
}

.rssFeedItem {
    border-top: 2px solid $nodeBorderBottomColor;
    margin-bottom: 4px;
    margin-left: 12px;
    padding-top: 4px;
}

.rssFeedItem:last-child {
    border-bottom: 2px solid $nodeBorderBottomColor;
    margin-bottom: 4px;
    margin-left: 12px;
    padding-top: 4px;
}

.rssFeedListing {
    margin-left: $smallGap;
}
