$scrollTrack: $gray-900;
$scrollThumb: #444;
$scrollBarWidth: 20px;

.customScrollbar {
    scrollbar-width: auto;
    scrollbar-color: $body-bg;
}

.customScrollbar::-webkit-scrollbar {
	width: $scrollBarWidth;
    height: $scrollBarWidth;
	background-color: $body-bg;
}

.customScrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: $scrollTrack;
}

.customScrollbar::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $scrollThumb;
    border: 1px solid gray;
}

textarea::-webkit-scrollbar {
    width: $scrollBarWidth;
    height: $scrollBarWidth;
	background-color: $body-bg;
    cursor: pointer;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: $scrollTrack;
    cursor: pointer;
}

textarea::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $scrollThumb;
    cursor: pointer;
    border: 1px solid gray;
}
