.customScrollbar {
    // this class is not needed but exists in TypeScript as an indicator for where scrollbars are
    // because it's important for identifying persistence of scroll position across react re-renders
}

// NOTE: These settings were created mainly to widen the scrollbar but the no longer appear to have any effect
* {
    scrollbar-width: auto;
    scrollbar-color: $body-bg;
}

*::-webkit-scrollbar {
	width: 20px;
    height: 20px;
	background-color: $body-bg;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: $gray-900;
}

*::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #444;
    border: 1px solid gray;
}

