.largerFont {
    font-size: 110%;
}

.codeIcon {
    margin-top: 4px;
}

.codeDivHeader {
    padding: 4px;
    border-radius: 6px 6px 0 0;
    border: 1px solid gray;
    background: rgb(1, 22, 39);
    position: relative;
    top: 10px;
}

.codeDivBody {
    border: 1px solid gray;
    margin: 0px !important;
}

.markdownLanguage {
    font-weight:bold;
    margin: 0 0 0 6px;
}

.alertText {
    margin-bottom: 0;
    font-size: 120%;
}

.alert {
    padding: .6rem;
    margin-bottom: .5rem;
}

.serverInfoText {
    width: 100%;
    overflow: auto;
}

.signupLinkText {
    cursor: pointer;
    margin-bottom: 16px;
    margin-right: 16px;
}

.signupLinkTextMobile {
    display: inline-block;
    margin-top: 16px;
    cursor: pointer;
}

.logoText {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 15px;
    vertical-align: top;
    color: var(--bs-green);
}

.newMessagesNote {
    cursor: pointer;
    padding: 2px 6px 2px 6px;
    margin-right: $smallGap;
    color: var(--bs-green);
    border: 2px solid var(--bs-green);
    border-radius: 4px;
    font-weight: bold;
}

.normalText {
    font-weight: normal;
}

.resultsContentHeading {
    font-size: 120%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid gray;
}

.logViewTitle {
    margin-bottom: 10px;
}

.trendingSectionTitle {
    margin-bottom: 10px;
    padding: 6px 6px 6px 12px;
    border: 1px solid $nodeBorderBottomColor;
    text-align: center;
}

.userName {
    font-weight: bold;
}

.fixedFont {
    font-family: 'Courier New', Courier, monospace;
}

.collapsePanelLink {
    margin: $smallGap;
    cursor: pointer;
}

.tallTextContent {
    max-height: 650px;
}

.cryptoKeyTextContent {
    max-height: 300px;
    border: 1px solid $gray-700;
    padding: 1rem;
}

.linkDisplay {
    display: inline-block;
    margin-bottom: $smallGap;
    margin-left: 20px;
    padding: 0 4px 4px 4px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

.smallHeading {
    font-size: 1.3rem;
}

.heading5 {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2;
}

.largeFont {
    font-size: 140%;
}

.linkLabel {
    display: inline-block;
    margin-left: $smallGap;
    margin-bottom: $smallGap;
    background-color: cadetblue;
    color: black;
    padding: $microGap;
    border-radius: $border-radius;
}

.highlightText {
    background-color: blue;
    color: yellow;
    padding-top: 4px;
    padding-bottom: 4px;
}