<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <base href="/" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quanta</title>
    <!-- todo-0: this cache buster could be improved by making it actually a hash of the file itself, because with the current
    algorithm every time there is a server restart it forces user to download new CSS -->
    <link rel="stylesheet" th:href="'/css/meta64.css?v='+${cacheBuster}" />
</head>

<body class="myjumbotron">
    <h3 style="margin: 2em;">Oops. Nothing found.
        <p>
            <a class="btn btn-outline-success btn-lg errorBackButton" th:href="${hostAndPort}">Quanta Home</a>
        </p>
    </h3>
</body>

</html>