<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <base href="/"/>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#000000" />

    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="Quanta" />

    <meta property="og:type" th:if="${not #strings.isEmpty(ogDescription)}" content="website"/>
    <meta property="og:title" th:if="${not #strings.isEmpty(ogTitle)}" th:attr="content=${ogTitle}"/>
    <!-- <meta property="og:site_name" content="${ogSiteName}"/> -->
    <meta property="og:description" th:if="${not #strings.isEmpty(ogDescription)}" th:attr="content=${ogDescription}"/>
    <meta property="og:image" th:if="${not #strings.isEmpty(ogImage)}" th:attr="content=${ogImage}"/>
    <meta property="og:url" th:if="${not #strings.isEmpty(ogUrl)}" th:attr="content=${ogUrl}"/>
    
    <meta name="twitter:card" th:if="${not #strings.isEmpty(ogDescription)}" content="summary"/>    
    <!-- <meta name="twitter:site" content="@yourwebsite"/>
    <meta name="twitter:creator" content="@yourtwitterhandle"/> -->
    <meta name="twitter:title" th:if="${not #strings.isEmpty(ogTitle)}" th:attr="content=${ogTitle}"/>
    <meta name="twitter:description" th:if="${not #strings.isEmpty(ogDescription)}" th:attr="content=${ogDescription}"/>

    <!-- NOTE: Twitter is refusing to display this image, and I'm 99% sure it's a shadow-banning thing, where quanta.wiki is blacklisted, 
        because I know the link is working, and their validator shows it working, but twitter itself still refuses to show any images ever.
        meta name is correct, url is working, robots.txt is correct. Only possibility left: shadow-banned.
        https://cards-dev.twitter.com/validator
    -->
    <meta name="twitter:image" th:if="${not #strings.isEmpty(ogImage)}" th:attr="content=${ogImage}"/>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=3" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=3" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=3" />
    <link rel="manifest" href="/site.webmanifest" />

    <link rel="stylesheet" th:href="'/font-awesome-4.7.0/css/font-awesome.min.css?v='+${FONT_AWESOME_CSS_HASH}" />
    <link rel="stylesheet" th:href="'/js/dropzone/dropzone.css?v='+${DROPZONE_CSS_HASH}" />
    <link rel="stylesheet" th:href="'/css/meta64.css?v='+${MAIN_CSS_HASH}" />
    <link rel="stylesheet" th:href="'/css/highlightjs/darcula.css?v='+${DARCULA_CSS_HASH}" />

    <script th:inline="none">
        /*<![CDATA[*/
        MathJax = {
            tex: {
                //warning: don't remove the space between the squar braces here or that will trigger thymeleaf to pick up 
                //the string and try to interpret it. Also the "th:inline: none" all by itself can fix this too, which we do use.
                inlineMath: [ ['$', '$'], ['\\(', '\\)'] ]
            }
        };
        /*]]>*/
    </script>
    <script id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>

    <!-- #recaptcha-disabled
    <script src="https://www.google.com/recaptcha/api.js?render=<%=htmlWebpackPlugin.options.reCaptcha3SiteKey%>"></script>
    
    <script>
        var reCaptcha3SiteKey = "<%=htmlWebpackPlugin.options.reCaptcha3SiteKey%>";
    </script>
    -->

    <title>Quanta</title>
</head>

<body class="app-body customScrollbar">
    <noscript>
        This app requires JavaScript.
    </noscript>

    <div id="app">
        Loading...
    </div>

    <script>
        var browserSupported = true;
        
        function oldIEdetection() {
            var ua = window.navigator.userAgent;
            var msie = ua.indexOf('MSIE ');
            if (msie > 0) {
                browserSupported = false;
                // IE 10 or older, return version number
                return parseInt(ua.substring(msie + 5, ua.indexOf('.', msie)), 10);
            }
            var trident = ua.indexOf('Trident/');
            if (trident > 0) {
                browserSupported = false;
                // IE 11, return version number
                var rv = ua.indexOf('rv:');
                return parseInt(ua.substring(rv + 3, ua.indexOf('.', rv)), 10);
            }
            var edge = ua.indexOf('Edge/');
            if (edge > 0) {
                //Edge (IE 12+), return version number
                //return 'IE ' + parseInt(ua.substring(edge + 5, ua.indexOf('.', edge)), 10);
                return null;
            }
            // User uses other browser
            return null;
        }
        var result = oldIEdetection();
        if (result) {
            document.write("Browser not supported: IE "+result);
            document.write("<br>Try a modern browser like Chrome, Firefox, or Edge.")
        }
    </script>

    <script th:src="'/js/jquery/jquery-3.3.1.min.js?v='+${JQUERY_JS_HASH}"></script>
    <script th:src="'/js/popper/popper.min.js?v='+${POPPER_JS_HASH}"></script>
    <script th:src="'/bootstrap-4/js/bootstrap.min.js?v='+${BOOTSTRAP_JS_HASH}"></script>

    <script th:src="'/js/dropzone/dropzone.js?v='+${DROPZONE_JS_HASH}"></script>
    <script th:src="'/js/ace/src-noconflict/ace.js?v='+${ACE_JS_HASH}"></script>

    <div id="overlayDiv" class="overlay"></div>

    <script type="text/javascript" th:src="'bundle.js?v='+${BUNDLE_JS_HASH}"></script>

</body>

</html>