<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <base href="/" />

    <meta charset="utf-8" />
    <meta property="instanceId" th:attr="content=${instanceId}" />
    <meta name="description" th:attr="content=${brandingMetaContent}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="theme-color" content="#000000" />

    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="application-name" th:attr="content=${brandingAppName}" />

    <meta property="og:type" th:if="${not #strings.isEmpty(ogDescription)}" content="website" />
    <meta property="og:title" th:if="${not #strings.isEmpty(ogTitle)}" th:attr="content=${ogTitle}" />
    <meta property="og:description" th:if="${not #strings.isEmpty(ogDescription)}" th:attr="content=${ogDescription}" />
    <meta property="og:image" th:if="${not #strings.isEmpty(ogImage)}" th:attr="content=${ogImage}" />
    <meta property="og:url" th:if="${not #strings.isEmpty(ogUrl)}" th:attr="content=${ogUrl}" />

    <meta name="twitter:card" th:if="${not #strings.isEmpty(ogDescription)}" content="summary" />
    <meta name="twitter:title" th:if="${not #strings.isEmpty(ogTitle)}" th:attr="content=${ogTitle}" />
    <meta name="twitter:description" th:if="${not #strings.isEmpty(ogDescription)}"
        th:attr="content=${ogDescription}" />
    <meta name="twitter:image" th:if="${not #strings.isEmpty(ogImage)}" th:attr="content=${ogImage}" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=3" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=3" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=3" />
    <link rel="manifest" href="/site.webmanifest" />

    <link rel="stylesheet" th:href="'/font-awesome-4.7.0/css/font-awesome.min.css?v='+${FONT_AWESOME_CSS_HASH}" />
    <link rel="stylesheet" th:href="'/js/dropzone/dropzone.css?v='+${DROPZONE_CSS_HASH}" />
    <link rel="stylesheet" th:href="'/css/highlightjs/darcula.css?v='+${DARCULA_CSS_HASH}" />

    <title th:text="${brandingAppName}"></title>
<script defer src="/dist/main.00881f071e43e5450d4b.js"></script></head>

<body class="app-body">
    <noscript>
        This app requires JavaScript.
    </noscript>

    <div id="app">
        <div id="bigSpinner" class="col-6 mx-auto text-center" style="margin-top: 6rem; display: none;">
            <div class="spinner-border text-success" style="border-width: 0.4rem; width: 6rem; height: 6rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        var __page = "index";

        // it's annoying to see the spinner popup, so make sure it's taking up to 3 seconds before we even show it.
        setTimeout(()=> {
            var e = document.getElementById("bigSpinner");
            if (e) {
                e.style.display = "block";
            }
        }, 3000);

        /* Thymeleaf vars */
        var g_brandingAppName = [[${brandingAppName}]];

        function areCookiesEnabled() {
            try {
                document.cookie = 'cookietest=1';
                var cookiesEnabled = document.cookie.indexOf('cookietest=') !== -1;
                document.cookie = 'cookietest=1; expires=Thu, 01-Jan-1970 00:00:01 GMT';
                return cookiesEnabled;
            } catch (e) {
                return false;
            }
        }

        if (!areCookiesEnabled()) {
            alert('This app requires cookies to be enabled.');
        }

        function oldIEdetection() {
            var ua = window.navigator.userAgent;
            var msie = ua.indexOf('MSIE ');
            if (msie > 0) {
                __page = null;
                // IE 10 or older, return version number
                return parseInt(ua.substring(msie + 5, ua.indexOf('.', msie)), 10);
            }
            var trident = ua.indexOf('Trident/');
            if (trident > 0) {
                __page = null;
                // IE 11, return version number
                var rv = ua.indexOf('rv:');
                return parseInt(ua.substring(rv + 3, ua.indexOf('.', rv)), 10);
            }
            var edge = ua.indexOf('Edge/');
            if (edge > 0) {
                //Edge (IE 12+), return version number
                //return 'IE ' + parseInt(ua.substring(edge + 5, ua.indexOf('.', edge)), 10);
                return null;
            }
            // User uses other browser
            return null;
        }
        var result = oldIEdetection();
        if (result) {
            document.write("Browser not supported: IE " + result);
            document.write("<br>Try a modern browser like Chrome, Firefox, or Edge.")
        }
    </script>

    <div id="overlayDiv" class="overlay"></div>

    <script th:inline="none">
        /*<![CDATA[*/
        var math = ['[math]', '[/math]'];
        MathJax = {
            tex: {
                inlineMath: [ math ]
            }
        };
        /*]]>*/
    </script>
    
    <script th:src="'/js/math-jax/tex-chtml.js?v='+${MATHJAX_JS_HASH}" id="MathJax-script" ></script>
    <script th:src="'/js/dropzone/dropzone.js?v='+${DROPZONE_JS_HASH}"></script>
    <script th:src="'/js/ace/src-noconflict/ace.js?v='+${ACE_JS_HASH}"></script>

</body>

</html>