<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- http://localhost:8182/tsx-test -->

<head>
    <base href="/" />

    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

    <title>Quanta</title>
<script defer src="/dist/main.2efbdd90a94ba23bec96.js"></script></head>

<body>
    <noscript>
        This app requires JavaScript.
    </noscript>

    <div id="app">
        Loading...
    </div>

    <script>
        var __page = "tsx-test";
    </script>
</body>

</html>