<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <base href="/" />

    <meta charset="utf-8">
    <meta name="description" th:attr="content=${brandingMetaContent}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="theme-color" content="#000000" />

    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="application-name" th:attr="content=${brandingAppName}" />

    <style th:replace="fragments/components :: fontLoaderStyle"></style>

    <meta property="og:type" content="website" />
    <meta property="og:title" th:attr="content=${brandingAppName}" />
    <meta property="og:description" th:attr="content=${introSubtitle}" />
    <meta property="og:image" content="/branding/logo-150px-tr.jpg" />
    <meta property="og:url" th:attr="content=${hostUrl}" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" th:attr="content=${brandingAppName}" />
    <meta name="twitter:description" th:attr="content=${introSubtitle}" />
    <meta name="twitter:image" content="/branding/logo-150px-tr.jpg" />

    <title th:text="${brandingAppName}"></title>
    <link rel="stylesheet" th:href="'/css/meta64.css?v='+${MAIN_CSS_HASH}" />
</head>

<body class="welcome-body customScrollbar">

    <main role="main">

        <div class="container-fluid welcomeBackground h-100">
            <div class="row align-items-center h-100">
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xl-6 mx-auto">
                    <div class="jumbotron transparentBg myJumbotron">

                        <h4 class="alert alert-info justify-content-center"
                            th:if="${not #strings.isEmpty(signupResponse)}" th:text="${signupResponse}"></h4>

                        <img class="mainLogoImg" src="branding/logo-250px-tr.jpg"></img>
                        <h1 class="text-center" th:text="${brandingAppName}"></h1>
                        <h3 class="text-center" th:text="${introSubtitle}"></h3>

                        <p>&nbsp</p>

                        <p class="text-center" th:text="${intro1}"></p>
                        <p class="text-center" th:text="${intro2}"></p>

                        <p class="text-center"><a class="btn btn-outline-primary btn-lg" href="/app" role="button"><span
                                    class="appEnterButton">Enter</span></a></p>
                        <p>&nbsp</p>

                        <div class="col-6 mx-auto text-center">
                            Support the developer!
                        </div>
                        <div class="col-6 mx-auto text-center">
                            <p>
                                <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=YD984BLHTSZYL&currency_code=USD&source=url"
                                    target="_blank">
                                    <img src='/branding/btn_donateCC_LG.gif' title='PayPal - The safer, easier way to pay online!'
                                        alt='Donate with PayPal button' />
                                </a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container-fluid welcome-container-no-navbar">
            <div class="row align-items-center h-100">
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xl-8 mx-auto">
                    <!-- todo-1: consider server-side rendering this so it can work with JS disabled -->
                    <div id="welcomePanel"></div>
                </div>
            </div>
          
        </div>
    </main>

    <footer class="container">
        <div class="col-6 mx-auto text-center myFooterText marginTop">
            <a href="https://github.com/Clay-Ferguson/quantizr">
                <p>Open Source: GitHub</p>
                <img src="/branding/GitHub-Mark-Light-32px.png"></img>
            </a>
        </div>
    </footer>

    <script th:inline="javascript">
        var __page = "welcome";

        /* Thymeleaf vars */
        var g_brandingAppName = [[${ brandingAppName }]];

        function oldIEdetection() {
            var ua = window.navigator.userAgent;
            var msie = ua.indexOf('MSIE ');
            if (msie > 0) {
                __page = null;
                // IE 10 or older, return version number
                return parseInt(ua.substring(msie + 5, ua.indexOf('.', msie)), 10);
            }
            var trident = ua.indexOf('Trident/');
            if (trident > 0) {
                __page = null;
                // IE 11, return version number
                var rv = ua.indexOf('rv:');
                return parseInt(ua.substring(rv + 3, ua.indexOf('.', rv)), 10);
            }
            var edge = ua.indexOf('Edge/');
            if (edge > 0) {
                //Edge (IE 12+), return version number
                //return 'IE ' + parseInt(ua.substring(edge + 5, ua.indexOf('.', edge)), 10);
                return null;
            }
            // User uses other browser
            return null;
        }
        var result = oldIEdetection();
        if (result) {
            document.write("Browser not supported: IE " + result);
            document.write("<br>Try a modern browser like Chrome, Firefox, or Edge.")
        }
    </script>

    <script th:inline="none">
        /*<![CDATA[*/
        var math = ['[math]', '[/math]'];
        MathJax = {
            tex: {
                inlineMath: [math]
            }
        };
        /*]]>*/
    </script>
    <script th:src="'/js/math-jax/tex-chtml.js?v='+${MATHJAX_JS_HASH}" id="MathJax-script" ></script>
    <script th:src="'/js/dropzone/dropzone.js?v='+${DROPZONE_JS_HASH}"></script>
    <script th:src="'/js/ace/src-noconflict/ace.js?v='+${ACE_JS_HASH}"></script>
    <script th:src="'bundle.js?v='+${BUNDLE_JS_HASH}"></script>

</body>

</html>