<!DOCTYPE html>
<html lang="en">

<head>
    <!-- because of possible forwarding we need to enforce our base path here -->
    <base href="/"/>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#000000" />

    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="Quanta" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=3" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=3" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=3" />
    <link rel="manifest" href="/site.webmanifest" />

    <title>Quanta</title>
</head>

<body>
    Welcome to Quanta.wiki
    <br>
    <span th:text="Time: ${serverTime}"></span>
</body>
 
</html>