<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <base href="/" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <style th:replace="fragments/components :: fontLoaderStyle"></style>

    <title>Quanta</title>
    <link rel="stylesheet" th:href="'/css/meta64.css?v='+${MAIN_CSS_HASH}" />
</head>

<body class="welcome-body customScrollbar">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand navbar-font" href="/app">Quanta.wiki</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">

                <!-- todo-0: need to add this: developer node isn't created yet 
                <li class="nav-item active">
                    <a class="nav-link" href="/n/developers">Developers</a>
                </li>
                -->

                <!-- <li class="nav-item active">
                    <a class="nav-link" href="https://github.com/Clay-Ferguson/quantizr">
                        GitHub
                    </a>
                </li> -->

                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div> 
                
                </li>
            -->
            </ul>

            <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
        </div>

    </nav>

    <main role="main">

        <div class="container myjumbotron">
            <div class="row align-items-center h-100">
                <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto">
                    <div class="jumbotron transparentBg">

                        <h4 class="alert alert-info justify-content-center"
                            th:if="${not #strings.isEmpty(signupResponse)}" th:text="${signupResponse}"></h4>

                        <img class="mainLogoImg" src="/images/eagle-logo-250px-tr.jpg"></img>

                        <p th:text="${pg_welcome__intro1}"></p>
                        <p th:text="${pg_welcome__intro2}"></p>

                        <!-- <p class="text-center">
                            <a target="_blank" href="https://gateway.pinata.cloud/ipfs/QmUDRVSLBMSwb7Fkn7d8WGzSUeJPD4EJaBmt31npFYraxi">
                                Platform Demo Videos
                            </a>
                        </p> -->

                        <!-- <p th:text="${pg_welcome__intro3}"></p> -->
                        <p class="text-center"><a class="btn btn-outline-danger btn-lg appEnterButton" href="/app"
                                role="button">Enter &raquo;</a></p>

                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid welcome-container">

            <!-- <div class="row justify-content-center">
                <h1 class="col-md-4">Features...</h1>
            </div> -->

            <div class="row">
                <div th:replace="fragments/components 
                    :: featureInfoL(title='Social Media', content=${pg_welcome__socialMedia})">
                </div>

                <div th:replace="fragments/components 
                    :: featureInfoR(title='Wikis', content=${pg_welcome__wikis})">
                </div>
            </div>

            <div class="row">
                <div th:replace="fragments/components 
                    :: featureInfoL(title='Blogs', content=${pg_welcome__blogs})">
                </div>

                <div th:replace="fragments/components 
                    :: featureInfoR(title='Friend Feeds', content=${pg_welcome__friendFeeds})">
                </div>
            </div>

            <div class="row">
                <div th:replace="fragments/components 
                    :: featureInfoL(title='Web3/IPFS', content=${pg_welcome__web3})">
                </div>

                <div th:replace="fragments/components 
                    :: featureInfoR(title='File Sharing', content=${pg_welcome__fileSharing})">
                </div>
            </div>

            <div class="row">
                <div th:replace="fragments/components 
                    :: featureInfoL(title='Secure Messaging', content=${pg_welcome__secureMessaging})">
                </div>

                <div th:replace="fragments/components 
                    :: featureInfoR(title='Access Controls', content=${pg_welcome__acl})">
                </div>
            </div>

            <div class="row">
                <div th:replace="fragments/components 
                    :: featureInfoL(title='Advanced Editing', content=${pg_welcome__advancedEditing})">
                </div>

                <div th:replace="fragments/components 
                    :: featureInfoR(title='Powerful Search', content=${pg_welcome__powerfulSearch})">
                </div>
            </div>

            <div class="row">
                <div th:replace="fragments/components 
                    :: featureInfoL(title='Timelines', content=${pg_welcome__timelines})">
                </div>

                <div th:replace="fragments/components 
                    :: featureInfoR(title='Quantized', content=${pg_welcome__quantized})">
                </div>
            </div>

            <div class="row">
                <div th:replace="fragments/components 
                    :: featureInfoL(title='RSS/Podcasts', content=${pg_welcome__rss})">
                </div>

                <div th:replace="fragments/components 
                    :: featureInfoR(title='Video/Audio Player', content=${pg_welcome__audioVideo})">
                </div>
            </div>

            <div class="row">
                <div th:replace="fragments/components 
                    :: featureInfoL(title='Drag-n-Drop', content=${pg_welcome__dragAndDrop})">
                </div>

                <div th:replace="fragments/components 
                    :: featureInfoR(title='Custom URLs', content=${pg_welcome__customUrls})">
                </div>

            </div>

            <div class="row">
                <div th:replace="fragments/components 
                    :: featureInfoL(title='Markdown', content=${pg_welcome__markdown})">
                </div>

                <div th:replace="fragments/components 
                    :: featureInfoR(title='Math Formulas', content=${pg_welcome__math})">
                </div>
            </div>

            <div class="row">
                <div th:replace="fragments/components 
                    :: featureInfoL(title='Hierarchical', content=${pg_welcome__hierarchial})">
                </div>

                <div th:replace="fragments/components 
                    :: featureInfoR(title='Node Types', content=${pg_welcome__nodeTypes})">
                </div>
            </div>

            <div class="row">

                <div th:replace="fragments/components 
                    :: featureInfoL(title='Import/Export', content=${pg_welcome__importExport})">
                </div>

                <div th:replace="fragments/components 
                    :: featureInfoR(title='Open Source', content=${pg_welcome__openSource})">
                </div>
            </div>
            <hr>
        </div>
    </main>

    <footer class="container">
        <div class="col-6 mx-auto text-center myFooterText">
            <p>
                <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=YD984BLHTSZYL&currency_code=USD&source=url"
                    target="_blank">
                    <img src='/images/btn_donateCC_LG.gif' title='PayPal - The safer, easier way to pay online!'
                        alt='Donate with PayPal button' />
                </a>
            </p>

            <a href="https://github.com/Clay-Ferguson/quantizr">
                <p>GitHub: Project Quantizr (MIT License)</p>
                <img src="/images/GitHub-Mark-Light-32px.png"></img>
            </a>
        </div>

    </footer>

    <!-- load some scripts here, that aren't needed on this page, but we make use of the fact that the user is looking at
    the landing page, and use that time to pre-load this into browser for when it's needed. -->

    <script th:inline="none">
        var innerArray = ['[math]', '[/math]'];
        /*<![CDATA[*/
        MathJax = {
            tex: {
                //warning: don't remove the space between the square braces here or that will trigger thymeleaf to pick up 
                //the string and try to interpret it. Also the "th:inline: none" all by itself can fix this too, which we do use.
                inlineMath: [innerArray]
            }
        };
        /*]]>*/
    </script>

    <script id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
    <script th:src="'/js/dropzone/dropzone.js?v='+${DROPZONE_JS_HASH}"></script>
    <script th:src="'/js/ace/src-noconflict/ace.js?v='+${ACE_JS_HASH}"></script>
    <script type="text/javascript" th:src="'bundle.js?v='+${BUNDLE_JS_HASH}"></script>

</body>

</html>