<!DOCTYPE html>
<!-- http://localhost:8182/demo/d3-test -->

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <base href="/" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

    <title>Quanta</title>
    <link rel="stylesheet" th:href="'/css/meta64.css?v='+${MAIN_CSS_HASH}" />
</head>

<body>

    <main role="main">
        <h1>D3 Test</h1>
    </main>

    <script th:src="'bundle.js?v='+${BUNDLE_JS_HASH}"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>

    <script>
        d3.select("body").style("background-color", "cyan");
    </script>
</body>

</html>