<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- http://localhost:8182/demo/tsx-test -->

<head>
    <base href="/" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

    <title>Quanta</title>
    <link rel="stylesheet" th:href="'/css/quanta.css?v='+${MAIN_CSS_HASH}" />
</head>

<body>
    <noscript>
        This app requires JavaScript.
    </noscript>

    <div id="app">
        Loading...
    </div>

    <script>
        var __page = "tsx-test";
    </script>

    <script th:src="'bundle.js?v='+${BUNDLE_JS_HASH}"></script>

</body>

</html>