body { 
    background-color: rgb(21,32,43);
    color: white;
}

a:link, a:visited {
    color: lightGray;
}
  
a:hover, a:active {
    color: cyan;
}

html {
    font-family: "Roboto", "Verdana", "Aria";
} 

pre {
    width: 100%;
}

.breadcrumbs {
    margin-bottom: 10px;
}

.top-row {
    border: 4px solid gray;
    padding: 8px;
    border-radius: 1em;
    margin-bottom: 10px;
    margin-top: 10px;
}

.row-div {
    border-left: 4px solid transparent;
    border-bottom: 1px solid gray;
    border-left: 10px solid transparent;
    padding: 8px;
    margin-bottom: 8px;
}

.open-button {
    background-color: green;
    color: white;
    padding: 8px;
    cursor: pointer;
}

.uplevel-button {
    background-color: gray;
    color: black;
    padding: 8px;
    cursor: pointer;
}

.meta-info {
    float: right;
}

.row-hr {
    height:4px; 
    background-color: gray;
}

/************************************************************** 
Media Queries below are per Bootstap 4 standard */

/* Small devices (tiny, 320px and up) */

/* Small devices (portrait phones?, 576px and up) */
@media (min-width: 576px) {
    .container{
        max-width: 500px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container{
        max-width: 700px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container{
        max-width: 800px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .container{
        max-width: 800px; /* 1000px */;
    }
}

@media (min-width: 1500px) {
    .container {
        max-width: 800px; /*1400px;*/
    }
}
